<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to Socioclip</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#socioclip-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static "images/logo.png" %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="socioclip-navbar" class="navbar-collapse collapse" >
          <ul class="nav navbar-nav navbar-right">
          	<li class="navbar-text">
          		<form class="navbar-form navbar-right" action="/search/" method="POST">{% csrf_token %}
                <table>
                  <tr>
                    <td class="input-prepend">
                      <input class="form-control search-field" name="search_keyword" type="text" placeholder="Search...">
                    </td>                    
                    <td>
                      <button type="submit" class="btn search-button" title="Search by tag, description or author"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </td>
                  </tr>                  
                </table>
          		</form>
          	</li>
          	<li class="dropdown navbar-text" style="margin-right: 2px;">
            	<a href="#" class="dropdown-toggle navbar-text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"> 
  				    Menu
  				    <span class="caret"></span>
      				</a>		  
      				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      					<li role="presentation"><a role="menuitem" tabindex="-1" href="/viewarchive/">Archive</a></li>
      					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pinned Bookmarks</a></li>
      					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Get More Clips</a></li>
      				</ul>
              </li>
            	<li class="navbar-text"><a href="/home/" title="Home">Home</a></li>
              <li class="navbar-text"><a href="#" title="Settings">Settings</a></li>
              <li class="navbar-text"><a href="#" title="Profile">Profile</a></li>
              <li class="navbar-text"><a href="#" title="Help">Help</a></li>
              <li class="navbar-text"><a href="/logout/" title="Logout">Logout</a></li>
            </ul>          
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Edit Modal -->
    <div class="modal fade in" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="editModalLabel">Edit Bookmark</h3>
          </div>
          <form id="edit_bookmark_form" action="/editbookmark/" method="post">{% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control" name="postby" id="postby" placeholder="Post By">
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name="description" id="description" placeholder="Description">
                </div>
                <div class="form-group">
                  <label>Tags (Comma Separated)</label>
                  <input type="text" class="form-control" name="tags_list" id="tags-list" placeholder="Tags (Comma separated)">
                </div>
                <input type="hidden" name="tag_codes" id="tag-codes">
                <input type="hidden" name="bookmark_id" id="edit-bookmark_id">
                <input type="hidden" name="col_id" id="edit-col-id">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" id="edit-form-submit" data-dismiss="modal">Save</button>
            </div>
          </form>          
        </div>
      </div>
    </div>    
    <div id="main-body" class="container-fluid" style="padding-top: 50px;">
      <div class="bubble-alert" id="bubble-alert-success">
          <span id="alert-success">Hello world callback</span>
      </div>      
    	<div class="row">
	        <div class="col-md-12 main">
          		<h1 class="page-header">
                Search Result
                {% if search_keyword %}
                  - <small>"{{ search_keyword }}"</small>
                {% endif %}
              </h1>
              {% if bookmark_data.home_search_result %}
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="sub-header">
                      Home Bookmarks
                    </h3>
                  </div>
                </div>
              {% endif %}
              {% if bookmark_data.home_search_result %}
              <div class="row">                
                {% for item in bookmark_data.home_search_result %}
                  <div class="col-md-2" id={{ forloop.counter | slugify | add:"_col_bookmark_home" }}>
                    <div class="color-swatches">
                      <div class="color-swatch gray-darker">
                        <div class="caption">
                          <div class="tag-hover-header">     
                            <div class="board-pin">
                              <img src={{ "http://www.google.com/s2/favicons?domain=" | add:item.bookmark.source }} title={{item.bookmark.source}}>
                            </div>
                            <div class="tag-hover-desc" id={{ forloop.counter | slugify | add:"_col_desc_home" }}>
                              {% if item.bookmark.description %}
                                {{item.bookmark.description}}
                              {% endif %}
                            </div>
                          </div>                        
                          <div class="tag-hover-body">
                            <div class="row row-pad">
                              <div class="col-md-6">
                                <form action="/deletebookmark/" method="post" id={{ forloop.counter | slugify | add:"_form_delete" }}>{% csrf_token %}
                                  <input type="hidden" name="bookmark_id" value={{ item.bookmark.bookmark_id }}>
                                </form>
                                <a href="#" id={{ forloop.counter | slugify | add:"_a_delete_home" }} onclick="submit_ajax(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"><span class="glypad">Delete</span></span></a>
                              </div>
                              <div class="col-md-6">
                                <a href={{ item.bookmark.permalink }} target="_blank"><span class="glyphicon glyphicon-link " aria-hidden="true"><span class="glypad">Link</span></span></a>
                              </div>
                              <div class="col-md-6">
                                <form action="/archive/" method="post" id={{ forloop.counter | slugify | add:"_form_archive_home" }}>{% csrf_token %}
                                  <input type="hidden" name="bookmark_id" value={{ item.bookmark.bookmark_id }}>
                                </form>                                
                                <a href="#" id={{ forloop.counter | slugify | add:"_a_archive_home" }} onclick="submit_ajax(this);"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"><span class="glypad">Archive</span></span></a>
                              </div>
                              <div class="col-md-6">
                                {% with outer_for_counter=forloop.counter %}
                                {% for folder in top_folder_list %}       
                                  {% if forloop.first %}
                                    <form action="/movebookmark/" method="post" id={{ outer_for_counter | slugify | add:"_form_pin_home" }}>{% csrf_token %}
                                      <input type="hidden" name="bookmark_id" value={{ item.bookmark.bookmark_id }}>
                                      <input type="hidden" name="folder_id" value={{ folder.folder_id }}>
                                    </form>
                                  {% endif %}
                                {% endfor%}         
                                {% endwith %}                         
                                <a href="#" id={{ forloop.counter | slugify | add:"_a_pin_home" }} onclick="submit_ajax(this);"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"><span class="glypad">Pin</span></span></a>
                              </div>              
                              <div class="col-md-6">
                                <a href="#" id={{ forloop.counter | slugify | add:"_col_editb_home" }} data-toggle="modal" data-target="#editModal" data-bookmarkid={{ item.bookmark.bookmark_id }} data-code={{csrf_token}}><span class="glyphicon glyphicon-edit" aria-hidden="true"><span class="glypad">Edit</span></span></a>
                              </div>                             
                            </div>                            
                          </div>
                          <div class="tag-hover-footer">
                            {% for tag in item.tag %}
                              {{ tag.tag_text| add:" " }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="tag-header">
                          <div class="board-pin">
                            <img src={{ "http://www.google.com/s2/favicons?domain=" | add:item.bookmark.source }} title={{item.bookmark.source}}>
                          </div>
                          <div class="board-pin" id={{ forloop.counter | slugify | add:"_col_postby_home" }}>
                            {{item.bookmark.postby}}                          
                          </div>
                        </div>                        
                          {% ifequal item.bookmark.type 'Text' %}
                            <div class="tag-body-title">
                             {{item.bookmark.bookmark_title}}
                            </div>
                          {% else %}
                            <div class="tag-body-thumbnail">
                              <img src={{ item.bookmark.thumbnail }}>
                            </div>  
                          {% endifequal %}                        
                        <div class="tag-footer" id={{ forloop.counter | slugify | add:"_col_tags_home" }}>
                          {% for tag in item.tag %}
                            {{ tag.tag_text| add:" " }}
                          {% endfor %}
                        </div>
                      </div>                      
                    </div>
                  </div>
                {% endfor %}
              </div>
              {% endif %}
              {% if bookmark_data.home_search_result and bookmark_data.archived_search_result %}
                <hr>              
              {% endif %}
              {% if bookmark_data.archived_search_result %}
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="sub-header">
                      Archived Bookmarks
                    </h3>
                  </div>
                </div>
              {% endif %}
              {% if bookmark_data.archived_search_result %}
              <div class="row">                
                {% for item in bookmark_data.archived_search_result %}
                  <div class="col-md-2" id={{ forloop.counter | slugify | add:"_col_bookmark_archive" }}>
                    <div class="color-swatches">
                      <div class="color-swatch gray-darker">
                        <div class="caption">
                          <div class="tag-hover-header">     
                            <div class="board-pin">
                              <img src={{ "http://www.google.com/s2/favicons?domain=" | add:item.bookmark.source }} title={{item.bookmark.source}}>
                            </div>
                            <div class="tag-hover-desc" id={{ forloop.counter | slugify | add:"_col_desc_archive" }}>
                              {% if item.bookmark.description %}
                                {{item.bookmark.description}}
                              {% endif %}
                            </div>
                          </div>                        
                          <div class="tag-hover-body">
                            <div class="row row-pad">
                              <div class="col-md-6">
                                <form action="/deletebookmark/" method="post" id={{ forloop.counter | slugify | add:"_form_delete_archive" }}>{% csrf_token %}
                                  <input type="hidden" name="bookmark_id" value={{ item.bookmark.bookmark_id }}>
                                </form>
                                <a href="#" id={{ forloop.counter | slugify | add:"_a_delete_archive" }} onclick="submit_ajax(this);"><span class="glyphicon glyphicon-trash" aria-hidden="true"><span class="glypad">Delete</span></span></a>
                              </div>
                              <div class="col-md-6">
                                <a href={{ item.bookmark.permalink }} target="_blank"><span class="glyphicon glyphicon-link " aria-hidden="true"><span class="glypad">Link</span></span></a>
                              </div>
                              <div class="col-md-6">
                                <form action="/unarchive/" method="post" id={{ forloop.counter | slugify | add:"_form_unarchive_archive" }}>{% csrf_token %}
                                  <input type="hidden" name="bookmark_id" value={{ item.bookmark.bookmark_id }}>
                                </form>                                
                                <a href="#" id={{ forloop.counter | slugify | add:"_a_unarchive_archive" }} onclick="submit_ajax(this);"><span class="glyphicon glyphicon-new-window" aria-hidden="true"><span class="glypad">Unarchive</span></span></a>                              
                              </div>
                              <div class="col-md-6">
                                <a href="#" id={{ forloop.counter | slugify | add:"_col_editb_archive" }} data-toggle="modal" data-target="#editModal" data-bookmarkid={{ item.bookmark.bookmark_id }} data-code={{csrf_token}}><span class="glyphicon glyphicon-edit" aria-hidden="true"><span class="glypad">Edit</span></span></a>
                              </div>                             
                            </div>                            
                          </div>
                          <div class="tag-hover-footer">
                            {% for tag in item.tag %}
                              {{ tag.tag_text| add:" " }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="tag-header">
                          <div class="board-pin">
                            <img src={{ "http://www.google.com/s2/favicons?domain=" | add:item.bookmark.source }} title={{item.bookmark.source}}>
                          </div>
                          <div class="board-pin" id={{ forloop.counter | slugify | add:"_col_postby_archive" }}>
                            {{item.bookmark.postby}}                          
                          </div>
                        </div>                        
                          {% ifequal item.bookmark.type 'Text' %}
                            <div class="tag-body-title">
                             {{item.bookmark.bookmark_title}}
                            </div>
                          {% else %}
                            <div class="tag-body-thumbnail">
                              <img src={{ item.bookmark.thumbnail }}>
                            </div>  
                          {% endifequal %}                        
                        <div class="tag-footer" id={{ forloop.counter | slugify | add:"_col_tags_archive" }}>
                          {% for tag in item.tag %}
                            {{ tag.tag_text| add:" " }}
                          {% endfor %}
                        </div>
                      </div>                      
                    </div>
                  </div>
                {% endfor %}
              </div>
              {% endif %}
              {% if not bookmark_data.home_search_result and not bookmark_data.archived_search_result %}
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="sub-header">
                      No Search Result.
                    </h3>
                  </div>
                </div>
              {% endif %}
          </div>
      </div>              
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/sha256.js" %}"></script>
    <!-- <script src="../../assets/js/docs.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
	<script>
		$(document).ready(function(){
      $("#edit-form-submit").click(function(){
        $.ajax({
          type: "POST",
          url: $("#edit_bookmark_form").attr('action'),
          data: $("#edit_bookmark_form").serialize(),
          success: function(data) {
            var obj = jQuery.parseJSON( data );
            if (obj.result_code == "1"){
              var parts = $('#edit-col-id').val().split('_');
              var postby_id = "#" + $('#edit-col-id').val().substring(0, 1) + "_col_postby_" + parts[3];
              var tags_id = "#" + $('#edit-col-id').val().substring(0, 1) + "_col_tags_" + parts[3];     
              var desc_id = "#" + $('#edit-col-id').val().substring(0, 1) + "_col_desc_" + parts[3];
              $(postby_id).html(obj.postby);
              $(tags_id).html(obj.tag_list.replace(",", " ") );
              $(desc_id).html(obj.description);
            }
          }
        });
      });
      $("[rel='tooltip']").tooltip();    
 
      $('.color-swatches').hover(
          function(){
              $(this).find('.caption').slideDown(250); //.fadeIn(250)
          },
          function(){
              $(this).find('.caption').slideUp(250); //.fadeOut(205)
          }
      ); 			
      $("#main-body").mouseup(function(e)
      {
        var subject = $("#bubble-alert-success"); 

        if(e.target.id != subject.attr('id') && !subject.has(e.target).length)
        {
            subject.fadeOut();
        }
      });      
      $('#editModal').on('show.bs.modal', function (event) {
        var v_link = $(event.relatedTarget); // Button that triggered the modal
        var v_link_id = event.relatedTarget.id;
        var v_bookmarkid = v_link.data('bookmarkid'); // Extract info from data-* attributes
        var v_code = v_link.data('code'); // Extract info from data-* attributes
        var form_data = "bookmark_id=" + v_bookmarkid + "&csrfmiddlewaretoken=" + v_code;
        $.ajax({
          type: "POST",
          url: "/geteditdetail/",
          data: form_data,
          success: function(data) {
            var obj = jQuery.parseJSON( data );
            var modal = $(this);
            $('#postby').val(obj.postby);
            $('#description').val(obj.description);
            $('#tags-list').val(obj.tag_list);
            $('#tag-codes').val(obj.tag_code);
            $('#edit-bookmark_id').val(obj.bookmark_id);
            $('#edit-col-id').val(v_link_id);
          }
        });        
      });
		});
		function get_subfolder(obj)
		{
			var form_id = "#" + obj.id + "_form";
				 var div_id = "#" +obj.id+'_folder';
				 var form_data = $("#subfolder_form").serialize() + "&p_folder_id=" + obj.id;
				 $.ajax({
			    type: "POST",
			    url: "/subfolders/",
			    data: form_data,
			    success: function(data) {
			      $(div_id).html(data);
			    }
		  	});
		}
    function submit_ajax(obj)
    {
      var parts = obj.id.split('_');
      var form_id = "#" + obj.id.substring(0, 1) + "_form_" + parts[2]+ "_" + part[3]; 
      var div_id = "#" + obj.id.substring(0, 1) +'_col_bookmark_'+ part[3];
      $.ajax({
        type: "POST",
        url: $(form_id).attr('action'),
        data: $(form_id).serialize(),
        success: function(data) {
          if ( data == "1" ){
            $( div_id ).remove();
            if(parts[2] == "archive")
            {
              $("#alert-success").html("Archived Successfully.");
            }            
            else if(parts[2] == "pin")
            {
              $("#alert-success").html("Pinned Successfully.");
            }
            else if(parts[2] == "delete")
            {
              $("#alert-success").html("Deleted Successfully.");
            }
            else
            {
              $("#alert-success").html("Unarchived Successfully.");
            }
            $("#bubble-alert-success").show();
          }            
          else{
            if(parts[2] == "archive")
            {
              alert('Archive Failed');
            }
            else if(parts[2] == "pin")
            {
              alert('Pin Failed');
            }
            else if(parts[2] == "delete")
            {
              alert('Delete Failed');
            }
            else
            {
              alert('Unarchive Failed');
            }
          }
        }
      });
    }
	</script>	
  </body>
</html>